

/* aviso */
.aviso{
    width: 1254px;
    height: 55px;
    top: 24px;
    left: 88px;
    border-radius: 20px;
    background-color:#4FA1C1 ;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{

     font-size: Ubuntu;
     font-weight: 400;
     font-size: 28px;
     line-height: 32.17px;
     width: 125px;
     height: 32px;
     left: 654.88px;  
     color: #FFFFFF;
    }
}


 /* =================== MEDIA SCREEN ==================== */
 @media (max-width: 480px){
    

/* aviso */
.aviso{
    width: 100%;
    height: 55px;
    top: 200px;
  position: absolute;
  left: 0;
    border-radius: 20px;
    background-color:#4FA1C1 ;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{

     font-size: Ubuntu;
     font-weight: 400;
     font-size: 28px;
     line-height: 32.17px;
     width: 125px;
     height: 32px;
     left: 654.88px;  
     color: #FFFFFF;
    }
}


 }