.switch-button {
    width: 83px;
    height: 20px;
    border-radius: 15px;
    background-color: #DBDBDB;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    padding: 2px 8px 2px 2px ;
    gap: 4px;
  }
  
  .switch-button.active {
    background-color: #649fbf; 
  }
  
  .switch-ball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #649fbf;
    position: absolute;
    transition: transform 0.3s ease;
    left: 0px;
    
    z-index: 10;
  }
  
  .switch-button.active .switch-ball {
    transform: translateX(60px); /* Move a bolinha para a direita */
  }
  
  .switch-text {
    font-size: 10px;
    color: #3A3A3A;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .switch-button.active .switch-text {
    color: white; /* Cor do texto quando ativo */
  }
  