/* form_group */
.form_group{
    width:714px ;
    height: 261px;
    border-radius: 10px;
    border: 1px solid #649fbf;
    padding: 12px;
    display: flex;
    gap: 24px;
    
    position: relative;
  }
  /* card_group_form */
  .card_group_form{
    width: 333px;
    height: 100%;
    display: flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction: column;
    p{
      width: 178.25px;
      height: 19px;
      font-family: Roboto;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
     color:#272F33 ;
     
    }
    gap: 8px;
    .div-inputs{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      label{
        width: 43px;
        height: 19px;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 18.75px;
  
      }
     #nome, #cpf, #rg{
   width: 333px;
   height: 36px;
   border-radius: 10px;
   border: 1px solid #649fbf;
   padding-right: 12px;
   padding-left: 12px;
   outline: none;
   
      }
    }
  }

  .card_group_form:nth-child(2){
   
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  /* container-radio-group */
  .container-radio-group{  
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
    flex-direction: column;
    width: 333px;
    height: 54px;
   
    p{
      width: 178.25px;
      height: 19px;
      font-family: Roboto;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
     color:#272F33 ;
    }

/* radio-group */
.radio-group{
  
  display: flex;
  align-items: center;
  justify-content: space-around;
 
 
  gap: 16px;






}




  }

  
  
  .radio-group input[type="radio"] {
    width: 15px; 
    height: 15px; 
  }
  
  .radio-group label {
    font-size: 14px; /* Tamanho da fonte do texto */
    cursor: pointer; /* Torna o texto clicável */
  }

  /* data_nasc */
  .nascimento{
    width: 333px;
    height: 63px;
    display: flex;
    gap: 8px;
  #data_nasc{
        width: 333px;
        height: 19px;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 18.75px;

  
      }
    input{
        width: 333px;
        height: 36px;
        border-radius: 10px;
        border: 1px solid #649fbf;
        padding-right: 12px;
        padding-left: 12px;
        outline: none; 
        
    }
  }

  /*  cargo*/
  #cargo{
    width: 333px;
    height: 63px;
    display: flex;
    gap: 8px;
    outline: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .select{
        width: 333px;
        height: 36px;
        border-radius: 10px;
        border: 1px solid #649fbf;
        padding-right: 12px;
        padding-left: 12px;
        outline: none; 
        cursor: pointer;
    }
    
    .opc{
       color:  #649fbf; 
       width: 333px;
        height: 19px;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 18.75px; 
        outline: none;
        cursor: pointer;
    }
    .opc:hover{
        background-color: #649fbf;
        color: #FFFFFF;
    }
  }



  /* =================== MEDIA SCREEN ==================== */
@media (max-width: 480px){
  /* form_group */
.form_group{
  width:100% ;
  height: 45vh;
  border-radius: 10px;
  border: 1px solid #649fbf;
  padding: 12px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  display: flex;

  /* align-items: center; */
  /* justify-content: space-around; */



  
 
}
/* card_group_form */
.card_group_form{
  width: 100%;
  height: 100%;
  display: flex;
  align-items:flex-start;
  justify-content:center;
  flex-direction: column;
  p{
    width: 178.25px;
    height: 19px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
   color:#272F33 ;
   
  }
 
  .div-inputs{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    label{
      width: 43px;
      height: 19px;
      font-family: Roboto;
      font-weight: 500;
      font-size: 16px;
      line-height: 18.75px;

    }
    /* AQUI FICA OS INOUTS DO NOME CPF E RG */
   #nome, #cpf, #rg{
 width: 280px;
 height: 36px;
 border-radius: 10px;
 border: 1px solid #649fbf;
 padding-right: 12px;
 padding-left: 12px;
 outline: none;
 
    }
  }
}

.card_group_form:nth-child(2){
 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/* container-radio-group */
.container-radio-group{  
  display: flex;
  align-items:flex-start;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 54px;

  p{
    width: 178.25px;
    height: 19px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
   color:#272F33 ;
  }

/* radio-group */
.radio-group{

display: flex;
align-items: center;
justify-content: space-around;


gap: 16px;






}




}



.radio-group input[type="radio"] {
  width: 15px; 
  height: 15px; 
}

.radio-group label {
  font-size: 14px; /* Tamanho da fonte do texto */
  cursor: pointer; /* Torna o texto clicável */
}

/* data_nasc */
.nascimento{
  width: 100%;
  height: 63px;
  display: flex;
  gap: 8px;
#data_nasc{
      width: 100%;
      height: 19px;
      font-family: Roboto;
      font-weight: 500;
      font-size: 16px;
      line-height: 18.75px;
p{
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  color: #272F33;
}

    }
  input{
    width: 280px;
      height: 36px;
      border-radius: 10px;
      border: 1px solid #649fbf;
      padding-right: 12px;
      padding-left: 12px;
      outline: none; 
      
  }
}

/*  cargo*/
#cargo{
  width: 100%;
  height: 63px;
  display: flex;
  gap: 8px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .select{
    width: 100%;
      height: 36px;
      border-radius: 10px;
      border: 1px solid #649fbf;
      padding-right: 12px;
      padding-left: 12px;
      outline: none; 
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .opc{
     color:  #649fbf; 
     width: 280px;
      height: 19px;
      font-family: Roboto;
      font-weight: 500;
      font-size: 14px;
      line-height: 18.75px; 
      outline: none;
      cursor: pointer;
  }
  .opc:hover{
      background-color: #649fbf;
      color: #FFFFFF;
  }
}

}