/* form-group */
.form-group {
  width: 762px;
  height: 960px;
  border-radius: 20px;
  display: flex;
  gap: 24px;
  justify-content: space-around;
  padding: 16px 24px 24px 24px;
  top: 16px;
  box-shadow: 0px 5px 0.5rem #ddd;

  input {
    border: 1px solid #649fbf;
    cursor: pointer;
  }
  opction {
    cursor: pointer;
  }
  .cargo {
    border: 1px solid #649fbf;
    outline: none;
    border-radius: 10px;
  }
}
/* container-form */
.container-form {
  width: 714px;
  height: 860px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
/* swith-func */
.swith-func {
  border: 1px solid #649fbf;
  width: 714px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0px 4px 5px #ddd;
  label {
    width: 253px;
    height: 19px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    font-family: Roboto;
  }
}
/* container_group_1 */
.container_group_1 {
  width: 714px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  border-radius: 10px;
  border: 1px solid #649fbf;
  padding: 12px;
  gap: 24px;
  box-shadow: 0px 4px 5px #ddd;
}

/* primary-group */
.primary-group {
  width: 48%;
  height: 261px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .sexo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    .form-radio-group {
      display: flex;
      gap: 16px;
      justify-content: flex-start;
    }
  }
  .datanasc {
    margin-top: 20px;
  }
}

/* container_group_1 */
.container_group_2 {
  width: 714px;
  height: 344px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #649fbf;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 12px;
  position: relative;
  box-shadow: 0px 4px 5px #ddd;
  /* gap: 24px; */
}

/* second-group */
.second-group {
  width: 690px;
  height: 62px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

/* .checkbox-epi */
.checkbox-epi {
  width: 690px;
  height: 62px;
  gap: 16px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  p {
    width: 280px;
    height: 16px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.09px;
  }
  div {
    display: flex;
    width: 305px;
    gap: 16px;
    p {
      width: 260px;
      height: 16px;
      font-family: Ubuntu;
      font-weight: 400;
      font-size: 14px;
      line-height: 16.09px;
    }
  }
}

/* second-group-2 */
.second-group-2 {
  width: 690px;
  height: 232px;

  border-radius: 10px;
  padding: 12px;
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  .container-atividade-epi {
    width: 690px;
    height: 174px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #649fbf;
    padding: 12px;
    gap: 24px;
    box-shadow: 0px 4px 5px #ddd;

    margin-top: 3px;
    position: relative;
  }

  .selected_atividade {
    width: 666px;
    height: 63px;
    gap: 8px;
  }

  .area-numero-ca {
    width: 666px;
    height: 63px;
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .card-epi {
      width: 227px;
      height: 63px;
      display: flex;
      gap: 8px;
    }

    .card-btn {
      width: 227px;
      height: 63px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      .card {
        height: 63px;
        margin-bottom: 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }
    }
  }

  .ant-btn-dashed {
    border: 1px solid #649fbf;
    width: 164px;
    height: 36px;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #649fbf;
  }
}
/* epi_add_oculta */
#epi_add_oculta {
  display: none;
}

/* salvarFomr */
.add-atividade-epi {
  width: 690px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid #649fbf;
  background-color: #ffffff;
  padding: 10px 40px 10px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  p {
    width: 260px;
    height: 16px;
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.09px;
    color: #649fbf;
  }
}

/* container_group_3 */
.container_group_3 {
  width: 714px;
  height: 163px;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #649fbf;
  box-shadow: 0px 4px 5px #ddd;
  .title_saude {
    border-radius: 10px;
    width: 690px;
    height: 19px;
    display: flex;

    label {
      width: 293px;
      height: 19px;
      font-family: Roboto;
      font-weight: 500;
      font-size: 16px;
      line-height: 18.75px;
    }
  }
  .up_arquivo-1 {
    border: 1px solid #649fbf;
    border-radius: 10px;
    width: 690px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    position: relative;

    div {
      width: 690px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    p {
      margin-left: 12px;
    }
    img {
      width: 10px;
      margin-right: 12px;
    }
  }

  .selected-arquivo {
    border: 1px solid #649fbf;
    border-radius: 10px;
    width: 690px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}
/* salvarFomr */
.salvarFomr {
  width: 714px;
  height: 36px;
  margin-top: 10px;

  border-radius: 10px;
  border: 1px solid #649fbf;
  background-color: #ffffff;
  padding: 10px 40px 10px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 3000;
  p {
    width: 260px;
    height: 16px;
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.09px;
    color: #649fbf;
  }
}

/* ======================MEDIA SCREEN ====================== */
@media (max-width: 480px) {
  /* form-group */
  .form-group {
    width: 100%;
    height: 97%;
    border-radius: 20px;
    display: flex;
   

    justify-content: space-around;
    position: relative;
    top: 16px;
    

    input {
      border: 1px solid #649fbf;
      cursor: pointer;
      width: 100%;
      padding: 1rem;
    }

    .cargo {
      border: 1px solid #649fbf;
      outline: none;
      border-radius: 10px;
    }
  }

  /* vertical-form */
  .vertical-form {
    width: 100%;
  }
  /* container-form */
  .container-form {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    left: 0;

    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
  }
  /* swith-func */
  .swith-func {
    border: 1px solid #649fbf;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    border-radius: 10px;

    padding: 12px;
    box-shadow: 0px 4px 5px #ddd;
    label {
      width: 100%;

      height: 19px;
      font-weight: 500;
      font-size: 20px;
      line-height: 18.75px;
      font-family: Roboto;
    }
  }
  /* container_group_1 */
  .container_group_1 {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #649fbf;
    padding: 12px;
    left: 0;
    gap: 24px;
    box-shadow: 0px 4px 5px #ddd;
  }

  /* primary-group */
  .primary-group {
    width: 100%;
    height: 261px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .sexo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      p .form-radio-group {
        display: flex;
        gap: 16px;
        justify-content: flex-start;
      }
    }
    .datanasc {
      margin-top: 20px;
    }
  }

  /* container_group_1 */
  .container_group_2 {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #649fbf;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 12px;
    position: relative;
    box-shadow: 0px 4px 5px #ddd;
    /* gap: 24px; */
  }

  /* second-group */
  .second-group {
    width: 100%;
    height: 20%;
    text-align: center;
    gap: 16px;
    display: flex;
    flex-direction: column;
  }

  /* .checkbox-epi */
  .checkbox-epi {
    width: 100%;
    height: 62px;
    gap: 16px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    p {
      width: 100%;
      height: 16px;
      font-family: Roboto;
      font-weight: 400;
      font-size: 18px;
      line-height: 16.09px;
    }
    div {
      display: flex;
      width: 100%;

      gap: 16px;

      p {
        width: 560px;
        height: 16px;
        font-family: Ubuntu;
        font-weight: 400;
        font-size: 18px;
        line-height: 16.09px;
      }
    }
  }

  /* second-group-2 */
  .second-group-2 {
    width: 100%;
    height: 100%;

    border-radius: 10px;

    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    /* area-atividade-selected */
    .area-atividade-selected {
      width: 100%;
    }
    .container-atividade-epi {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      border-radius: 10px;
      border: 1px solid #649fbf;
      padding: 12px;
      gap: 24px;
      box-shadow: 0px 4px 5px #ddd;

      margin-top: 3px;
      position: relative;
    }

    .selected_atividade {
      width: 100%;
      height: 100%;
      gap: 8px;
    }

    .area-numero-ca {
      width: 100%;
      height: auto;
      gap: 24px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;

      .card-epi {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        .input-epi {
          width: 95%;
        }
      }

      .card-btn {
        width: 100%;
        height: 63px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .card {
          width: 100%;
          height: 63px;

          margin-bottom: 0;
          display: flex;
          align-items: flex-end;
          justify-content: center;
        }
      }
    }

    .ant-btn-dashed {
      border: 1px solid #649fbf;

      height: 20%;
      border-radius: 10px;
      padding: 10px 40px 10px 40px;
      gap: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      color: #649fbf;
    }
  }
  /* epi_add_oculta */
  #epi_add_oculta {
    display: none;
  }

  /* salvarFomr */
  .add-atividade-epi {
    width: 100%;
    height: 36px;
    border-radius: 10px;
    border: 1px solid #649fbf;
    background-color: #ffffff;
    padding: 10px 40px 10px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    p {
      width: 260px;
      height: 20px;
      font-family: Ubuntu;
      font-weight: 400;
      font-size: 14px;
      line-height: 16.09px;
      color: #649fbf;
    }
  }

  /* container_group_3 */
  .container_group_3 {
    width: 100%;
    height: 10%;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #649fbf;
    box-shadow: 0px 4px 5px #ddd;
 

    .title_saude {
      border-radius: 10px;
      width: 100%;
      height: 19px;
      display: flex;

      label {
        width: 100%;
        height: 19px;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 18.75px;
      }
    }
    .up_arquivo-1 {
      border: 1px solid #649fbf;
      border-radius: 10px;
      width: 100%;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 8px;
      position: relative;

      div {
        width: 100%;
        height: 36px;
        display: flex;
        align-items: center;

        justify-content: space-between;
      }
      p {
        margin-left: 12px;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 18.75px;
      }
      img {
        width: 10px;
        margin-right: 12px;
      }
      .exibi-documento {

        width: 100%;
        display: flex;
        align-items: center;

        justify-content: space-between;
      }
    }

    .selected-arquivo {
      border: 1px solid #649fbf;
      border-radius: 10px;
      width: 100%;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
  }
  /* salvarFomr */
  .salvarFomr {
    width: 100%;
    height: 36px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #649fbf;
    background-color: #ffffff;
    padding: 10px 40px 10px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 3000;
   
    p {
      width: 260px;
      height: 22px;
      font-family: Ubuntu;
      font-weight: 400;
      font-size: 14px;
      line-height: 16.09px;
      color: #649fbf;
    }
  }
  /* .ant-form-item-control {
  border: 1px solid red;
  width: 100%;
  left: 0;
 
} */
}
