@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var( --bk-color);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  /* outline: 1px solid red !important; */
}
/* COLORS */
:root{
  --bk-color:#F2F2F2;
  --bk-color-form:#649FBF;
  --color-font:#959595;
  --bk-button:#959595;
  --ligth:#ffffff;
}

/* FONTS */
@font-face {
  font-family: Roboto;
  src: url('/Fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: Ubuntu;
  src: url('/Fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
}

@media (max-width:480px) {
 
}

/* Altera a largura da barra de rolagem */
::-webkit-scrollbar {
  width: 12px; /* Para barras verticais */
  height: 12px; /* Para barras horizontais */
}

/* Altera a cor da "trilha" (fundo) */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

/* Altera a cor do "polegar" (a parte que se move) */
::-webkit-scrollbar-thumb {
 background-color: #649FBF;
  border-radius: 2px;
}