/* AQUI FICA O CSS DO NAV BAR LATERAL  */
/* HEADER CONTAINER */
.header_ {
  width: 56px;
  height: 768px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--bk-color-form);
  border-radius: 0px 20px 20px 0px;
}

.rectangle_ {
  background-color: var(--ligth);
  width: 56px;
  height: 41px;
  top: 50px;
  position: absolute;
}

/* NAV BAR LATERAL */
.nav_bar_lateral {
  width: 44px;
  height: 312px;
  gap: 24px;
  top: 225px;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;

 button{
  background-color: #F2F2F2;
  border-radius: 10px;
  width: 32px;
  height: 32px;
  padding: 3px;
  border-radius: 10px;
  color: #649FBF;
  display: flex;
  align-items: center;
  justify-content:center;
  position: relative;


 }

 /* nav-item */
 .nav-item{

  width: 22px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
 
  img{
    width: 19px;
    object-fit: cover;
    background-size: cover;
    background-size: cover;
    top: 9px;
    left: 6px;
  }
  img:nth-child(){
    background-color: red;
  }
 }
 button:hover{
  background-color: var(--ligth);
 }
 button:after {
  content: ""; 
  position: absolute;
  top: 50%;
  left: -42px; 
  transform: translateY(-50%); 
  width: 35px; 
  height: 37px; 
  background-color: white;
  opacity: 0; 
  transition: opacity 0.1s ease; 
}

/* Faz o :after aparecer ao passar o mouse */
button:hover:after {
  opacity: 1; 
}
 
}

 /* notification-icon */
 .notification-icon{
  position: absolute;
  margin-left: 18px;
  width: 13.67px;
  height: 14.02px;
  margin-top: 20px;

 }